# .NET
bin/
obj/
*.user
*.suo

# Temp files
apphost_out.txt
apphost_err.txt
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.rsuser
*.sln.iml
launchSettings.json
!NovaCart.AppHost/Properties/launchSettings.json

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
bld/

# NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Rider
.idea/

# User-specific files
*.env
appsettings.Development.json

# OS
.DS_Store
Thumbs.db
